@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080b11;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
}
